/*Iglesia: sección de pastores*/
  
  #pastores {
    padding: 3em;
  }
  
  #pastores h2 {
    margin-bottom: 1em;
  }
  
  .pastor-card {
    @include flex-center;
  }
  
  .pastor-info {
    @include flex-center;

    width: 30%;
    flex-direction: column;
    text-align: center;
  }
  
  .pastor-info h3 {
    margin: 1em 0em 0.2em 0em;
  }
  
  .pastor-info p {
    width: 50%;
    font-size: 1rem;
  }

  @media (max-width: $mb-breakpoint) {
    #pastores {
      padding: 2em;
    }
  
    .pastor-card {
      @include flex-center;

      flex-direction: column;
    }

    .pastor-info {
        width: 100%;
        padding-bottom: 2em;

        h3 {
            margin: 1em 0em 0.2em 0em;
            font-size: 1.3rem;
        }

        p {
            width: 80%;
            font-size: 0.6rem;
        }
    }
  }
  
  /*Iglesia: sección de ministerios*/
  
  #ministerios {
    padding: 3em;
  }
  
  #ministerios h2 {
    margin-bottom: 1em;
  }
  
  .ministerio-card {
    @include flex-center;
  }
  
  .ministerio-info {
    @include flex-center;

    flex-direction: column;
    text-align: center;
  }
  
  .ministerio-info h3 {
    margin: 1em 0em 0.2em 0em;
  }
  
  .ministerio-info p {
    width: 70%;
    font-size: 1rem;
  }

  @media (max-width: $mb-breakpoint) {
    #ministerios {
      padding: 2em;
    }
  
    .ministerio-card {
      @include flex-center;

      flex-direction: column;
    }

    .ministerio-info {
        width: 100%;
        padding-bottom: 2em;

        h3 {
            margin: 1em 0em 0.2em 0em;
            font-size: 1.3rem;
        }

        p {
            width: 80%;
            font-size: 0.6rem;
        }
    }
  }
  
  /*Iglesia: sección de identidad*/
  
  #identidad {
    padding: 3em;
  }
  
  #identidad h2 {
    margin-bottom: 1em;
  }
  
  .identidad-card {
    @include flex-center;

    flex-direction: column;
  }
  
  .identidad-info {
    @include flex-center;

    text-align: left;
    margin: 0.2em 0em;
    gap: 30px;
    width: 70%;

    img {
        border-radius: 5px;
    }
  }
  
  .identidad-info-izq {
    @include flex-center;

    text-align: right;
    margin: 0.2em 0em;
    gap: 30px;
    width: 70%;

    img {
        border-radius: 5px;
    }
  }
  
  .identidad-info h3 {
    margin: 1em 0em 0.2em 0em;
  }
  
  .identidad-info p {
    font-size: 1rem;
  }

  @media (max-width: $mb-breakpoint) {
    #identidad {
        padding: 2em;
      }

      .identidad-info {
        padding-bottom: 1em;

        h3 {
            font-size: 1.3rem;
          }

        p {
            font-size: 0.6rem;
          }
      }

      .identidad-info-izq {
        padding-bottom: 1em;

        h3 {
            font-size: 1.3rem;
          }

        p {
            font-size: 0.6rem;
          }
      }

  }